body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans';
}

.app {
    max-height: 100vh;
}

.exams,
.tips {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 3rem 0;
}

.btn {
  font-size: 3rem;
  padding: 2rem;
  text-decoration: none;
  margin: 0 20px;
  border: 2px solid black;
  color: black;
  text-align: center;
}

.btn:hover {
  background-color: pink;
  color: white;
  font-weight: bold;
}

.desc {
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
}
