/* INNE ATRYBUTY */
.others {
  /* obramowanie */
  border: 1px solid black; -- szerokosc styl kolor
  /* dodanie scrolla w przypadku gdy wielkosść zawartości kontenera przewyższa jego wielkość */
  overflow: scroll; -- dla x i y
  overflow-x: scroll; -- dla x
  overflow-y: scroll; -- dla y
  /* zmiana stylu wylistowania (kwadrat) */
  list-style-type: square; -- dla parametru li
  /* dekoracja tekstu (np. podkreślenie, przekreślenie) */
  text-decoration: line-through;
  /* KOLORY */
  color: rgb(255, 0, 0); -- RGB
  color: #fff; -- hexadecimal
  color: blue; -- by name
  /* TEKST */
  font-size: 10px; -- wielkosc
  font-weight: bold; -- 'grubość'
  font-style: italic; -- styl
}

/* ZMIANA WYŚWIETLANIA
dzięki odpowiedniemu zagnieżdżeniu kontenerów (div)
możemy w łatwy sposób osiągnąć odpowiednie rozmieszczenie
*/
.kontener {
  /* więcej informacji: https://developer.mozilla.org/pl/docs/Learn/CSS/CSS_layout/Flexbox  */
  display: flex;
  /* dopasowanie elementów w poziomie */
  justify-content: center;
  /* ... w pionie */
  align-items: center;
}
