body {
    /* #full screen */
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana;
    background-color: #ffb31c;
}

.pokaz {
  background-color: red;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
}

.kontener {
    /* aby panele układały się poprawnie względem siebie! */
    display: flex;
}

a {
    color: rgb(148, 71, 0);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.panel-srodkowy {
    background-color: #ffcb71;
    width: 60%;
    height: 480px;
    /* Dodanie scrolla do panelu */
    overflow: scroll;
    /* overflow-x: hidden; */
}

.panel-lewy {
    width: 20%;
    height: 480px;
}

.panel-prawy {
    width: 20%;
    height: 480px;
    text-align: right;
}

.baner {
    text-align: center;
    height: 60px;
}

.stopka {
    text-align: center;
    height: 30px;
}

ul {
    /* zmiana stylu punktowania na kwadrat */
    list-style-type: square;
}


/* obramowanie komórek tabeli */

td {
    border: 1px solid black;
}

table {
    width: 100%;
}
