/* BODY */
body {
  /* krój czcionki */
  font-family: 'Helvetica';
  /* usunięcie marginesów */
  margin: 0;
  /* zapobiegawczo ustawienie maksymalnych rozmiarów */
  width: 100%;
  height: 100%;
}

/* GŁÓWNY KONTENER */
.kontener {
  display: flex;
}

/* Nadanie szerokośći nadrzędnym kontenerom zamiast każdemu z osobna */
#lewa-sekcja {
  width: 25%;
}

#prawa-sekcja {
  width: 75%;
}

/* Zmiana domyślnego marginesu zewnętrznego dla h1 i h3
w przypadku problemu z wyświetlaniem */
h1,
h3 {
  margin-top: 0;
  /* 0.67em domyślna wartość */
  padding-top: 0.67em;
}

/* PANELE */
.panel-lewy {
  /* kolor tła */
  background-color: Navy;
  /* kolor czcionki */
  color: white;
  /* wysokość panelu [px]*/
  height: 700px;
}

.pierwszy-prawy-panel {
  background-color: RoyalBlue;
  height: 100px;
  /* wyrównanie tekstu: do środka */
  text-align: center;
}

.drugi-prawy-panel {
  display: flex;
  align-items: center;
  background-color: SteelBlue;
  height: 300px;
}

.trzeci-prawy-panel {
  background-color: RoyalBlue;
  height: 300px;
  text-align: center;
}

/* STOPKA */

.stopka {
  background-color: SteelBlue;
  text-align: center;
  /* marginesy wewnętrzne */
  padding: 20px;
}

/* NAGŁÓWKI */

h1 {
  /* odległość między literami [px] */
  letter-spacing: 5px;
}

/* FORMULARZ */

form {
  /* marginesy zewnętrzne */
  margin: 30px;
  /* wysokość linii */
  line-height: 3;
  width: 100%;
}

/* pseudoklasa :hover
aktywuje się podczas najechania na element */

form:hover {
  background-color: DeepSkyBlue;
}

/* KOMENTARZ:
do powtwarzających się atrybutów można zastosować zapis:

.klasa-1,
.klasa-2,
.klasa-3 {
 # -- style wspólne dla wszystkich trzech klas
}

*/
